.my-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    background-color: #e5e4e700;
    color: var(--text);
    border: none;
    text-decoration: none;
    font-family: var(--mono);
    font-size: 15px;
}

.active {
    color: var(--text-h);
    font-weight: 500;
    text-decoration: underline;
}


.selected {
    color: var(--text-h);
    font-weight: 500;
    background-color: #4915d8;
    border-radius: 7px;
    box-shadow: 0 4px 8px rgba(73, 21, 216, 0.589);
}

.unselected {
    color: var(--text);
    border: 1px solid var(--border);
    border-radius: 7px;
    background-color: #242424;
}

.my-button:hover {
    color: #c5c8d6;
    cursor: pointer;
}

.button-goto-projects {
    background-color: #4915d8;
    color: #ffffff;
    border-radius: 7px;
    padding: 8px 16px;
    text-decoration: none;
    font-family: var(--mono);
    font-size: 18px;
    border: none;
}

.button-goto-projects:hover {
    background-color: #4915d8cc;
    color: var(--text);
    cursor: pointer;
}