.code-viewer {
    border: 1px solid var(--ui-border);
    border-radius: 4px;
}

.code-viewer code {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    color: var(--body-font-premium);  

    display: block;
    text-align: left;
    white-space: pre;
    overflow-x: auto;
    padding: 16px;
    border-radius: 4px;
    background-color: var(--code-bg);
    padding: 0px;
}

.code-viewer .code-content {
    padding: 20px 10px 20px 10px !important;
    scrollbar-width: thin;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    border-radius: 4px;
}