.my-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(140px);
    width: 100%;
}

.my-contact input, textarea {
    padding: 12px;
    border-radius: 5px;
    background-color: var(--ui-bg);
    color: var(--body-font-premium);
    border: 1px dashed #444;
}

.my-contact label {
    color: var(--body-font-premium);
    font-weight: bold;
}

.my-contact textarea {
    resize: vertical;
    min-height: 100px;
    resize: none;
}

.form-contact {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    max-width: 400px;
    background: var(--ui-bg-gradient);
    border-radius: 10px;
    padding: 24px;
    border: 1px solid #444;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.button-submit {
    background-color: #4caf50;
    color: var(--body-font-premium);
    border: none;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-submitting {
    background-color: #4caf50;
    color: rgb(87, 87, 87);
    border: none;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-submit:hover {
    background-color: #45a049;
    cursor: pointer;
}

.my-contact .button-submit {
    border: none;
}

.my-contact h1 {
    color: var(--title-font-premium);
    font-family: 'Agatho_BoldCAPS', system-ui, 'Segoe UI', Roboto, sans-serif;
}

.my-contact h3 {
    color: var(--body-font-premium);
    font-family: 'AppleGaramond-Light', system-ui, 'Segoe UI', Roboto, sans-serif;
    font-size: 1rem;
    margin-top: 0;
}