.my-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(140px);
    width: 100%;
}

.my-contact input, textarea {
    padding: 12px;
    border-radius: 5px;
    background-color: #1c1c1c;
    color: #fff;
    border: 1px solid #444;
}

.my-contact label {
    color: #fff;
    font-weight: bold;
}

.my-contact textarea {
    resize: vertical;
    min-height: 100px;
    resize: none;
}

.form-contact {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    max-width: 400px;
    background-color: #2c2c2c;
    border-radius: 10px;
    padding: 24px;
    border: 1px solid #444;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.button-submit {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-submit:hover {
    background-color: #45a049;
    cursor: pointer;
}

.my-contact .button-submit {
    border: none;
}