.file-tree-container {
    background-color: var(--ui-bg);
    border: 1px solid var(--ui-border);
    border-radius: 4px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    overflow-y: auto;
    overflow-x: auto;
    scrollbar-width: thin;
}



.file-tree-item {
    display: flex;
    gap: 8px;
    padding: 4px 0;
}

.file-tree-item-name:hover {
    background-color: var(--ui-border);
    cursor: pointer;
}