.file-tree-container {
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--ui-bg);
    border: 1px solid var(--ui-border);
    border-radius: 4px;
    overflow-x: auto;
    overflow-y: auto;
    scrollbar-width: thin;
}

.file-tree-item {
    display: flex;
    gap: 8px;
    padding: 4px 0;
    white-space: nowrap;
}

.file-tree-item-name:hover {
    cursor: pointer;
    background-color: var(--ui-border);
}

.loading-animation {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1000;
    width: 100%;
    height: 100%;
    padding: auto;
    backdrop-filter: blur(4px);
    transform: translate(-50%, -50%);
}