.my-notification {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 78px;
    z-index: 1000;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 100px;
    max-width: 300px;
    padding: 16px;
    border-radius: 10px;
    border: 1px dashed #696969;
    backdrop-filter: blur(10px);
    width: 100%;
}

.my-notification:hover {
    backdrop-filter: blur(20px);
    cursor: pointer;
}