.my-repositories {
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 1;
    backdrop-filter: blur(140px);
}

.bordered-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    backdrop-filter: blur(140px);
}

.search-container {
    border: 1px solid var(--ui-border);
    border-radius: 14px;
}

.search-bar {
    width: 100%;
    padding: 8px 12px;
    font-size: 16px;
    color: var(--body-font-premium);
    background: transparent;
    border: none;
    border-radius: 14px;
}

.grid-card {
    margin-top: 20px;
    justify-content: start;
    overflow-y: scroll;
    scrollbar-width: none;
}

.card-repository {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    max-height: 180px;
    padding: 16px 16px 3px 16px;
    font-size: 18px;
    text-align: left;
    color: var(--body-font-premium);
    background: var(--ui-bg-gradient);
    border: 1px solid var(--ui-border);
    border-radius: 18px;
}

.card-repository:hover {
    cursor: pointer;
    box-shadow: var(--shadow);
}

.repo-stats {
    display: flex;
    gap: 16px;
    font-size: 13px;
}

.repo-upd {
    flex: 1;
}

.repo-link {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 500;
    text-decoration: none;
    color: var(--body-font-premium);
}