.my-repositories {
    display: flex;
    flex-direction: column;
    /* background: var(--bg); */
    backdrop-filter: blur(140px);
    width: 100%;
    z-index: 1;
}

.bordered-container {
    height: 100%;
    /* border: 1px dashed #474747; */
    padding: 16px;
    margin-top: 50px;
    margin-bottom: 50px;
    /* background: linear-gradient(135deg, #725454, #262374); */
    backdrop-filter: blur(140px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
}

.grid-card {
    border: 1px dashed #474747;
    /* border-radius: 8px; */

    max-width: 750px;
    max-height: 500px;
    overflow-y: scroll;
    scrollbar-width: none;
    margin-top: 20px;
    justify-content: center;
    padding: 16px;
}

.card-repository {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    /* justify-content: left;
    align-items: center; */
    font-size: 18px;
    color: #ffffff;
    background: #2C2C2C;
    width: 550px;
    max-height: 180px;
    border-radius: 18px;
    border: 1px solid #3f3f3f;
    padding: 16px;

    text-align: left;
}

.repo-stats {
    display: flex;
    font-size: 13px;
    gap: 16px;
}

.repo-upd {
    flex: 1;
}

.repo-link {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
}