.my-repositories {
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(140px);
    width: 100%;
    z-index: 1;
}

.bordered-container {
    backdrop-filter: blur(140px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;

}

.search-container {
    border: 1px solid var(--ui-border);
    border-radius: 14px;
}

.search-container input {
    width: 100%;
    padding: 8px 12px;
    border: none;
    border-radius: 14px;
    background: transparent;
    color: var(--body-font-premium);
    font-size: 16px;
}



.grid-card {
    /* border: 1px dashed #474747; */

    /* max-width: 300px; */
    overflow-y: scroll;
    scrollbar-width: none;
    margin-top: 20px;
    justify-content: start;
    /* padding: 16px; */
}

.card-repository {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: var(--body-font-premium);
    background: var(--ui-bg-gradient);
    width: 550px;
    max-height: 180px;
    border-radius: 18px;
    border: 1px solid var(--ui-border);
    padding: 16px 16px 3px 16px;

    text-align: left;
}

.card-repository:hover {
    box-shadow: var(--shadow);
    cursor: pointer;
}

.repo-stats {
    display: flex;
    font-size: 13px;
    gap: 16px;
}

.repo-upd {
    flex: 1;
}

.repo-link {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--title-body-premium);
    text-decoration: none;
    font-weight: 500;
}